<!-- <p>admin works!</p> -->
<div class="container" >
    <div class="content">
        <mat-card  id="card_registration" class="routing mat-elevation-z2" style="background-color: whitesmoke">
            <mat-card-header>
              <mat-card-title style="color: #2b32b2;font-size: 20px;font-weight: 500;">User Registration</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content style="display: flex; justify-content: center;">
                <p>Register/Enroll students, faculty or staff to the system.</p>
            </mat-card-content>
            <mat-card-footer>
                <!-- <mat-chip-set aria-label="Chihuahua traits">
                  <mat-chip>charming</mat-chip>
                  <mat-chip>graceful</mat-chip>
                  <mat-chip>sassy</mat-chip>
                </mat-chip-set> -->
              </mat-card-footer>
            <mat-card-actions style=" margin-top: 5%;">
              <button mat-raised-button color="primary" (click)="uploadCsv('register')" value="register">Register</button>
            </mat-card-actions>
          </mat-card>
      <!-- <mat-card id="card1" class="routing mat-elevation-z2" style="--mdc-elevated-card-container-color: aliceblue">
        <mat-card-header>
           <div mat-card-avatar class="example-header-image"></div> 
          <mat-card-title style="color: #2b32b2;font-size: 20px;font-weight: 1000;" >User Registration</mat-card-title>
        </mat-card-header>
        <mat-card-content style="display: flex; justify-content: center; margin-top: 15%;">
            
            <button mat-raised-button color="primary" (click)="uploadCsv('register')" value="register">Upload csv</button>
           <img mat-card-image  alt="Photo of the Department"> 
            
        </mat-card-content>
      </mat-card> -->
    </div>
    </div>
