<h1 mat-dialog-title style="font-size: 20px; font-weight: 700" *ngIf="type == 'add'">Create Schedule</h1>
<h1 mat-dialog-title style="font-size: 20px; font-weight: 700" *ngIf="type == 'edit'">Edit Schedule</h1>

<mat-dialog-content style="height:50vh ;width: 35vw; overflow-y: scroll; max-width: 70vh;">

  <form *ngIf="type==='add'" [formGroup]="scheduleForm" class="d-flex flex-column py-2">
    <mat-form-field appearance="outline">
        <mat-label>Subject Code</mat-label>
        <mat-select formControlName="subCode">
          <mat-option *ngFor="let coordinator of facultyList" [value]="coordinator.name">{{ coordinator.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Subject Name</mat-label>
        <mat-select formControlName="subName">
          <mat-option *ngFor="let coordinator of facultyList" [value]="coordinator.name">{{ coordinator.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Subject Faculty</mat-label>
        <mat-select formControlName="faculty">
          <mat-option *ngFor="let coordinator of facultyList" [value]="coordinator.name">{{ coordinator.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Lab Attendant</mat-label>
        <mat-select formControlName="labAtt">
          <mat-option *ngFor="let coordinator of facultyList" [value]="coordinator.name">{{ coordinator.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>TA</mat-label>
        <mat-select formControlName="ta">
          <mat-option *ngFor="let coordinator of facultyList" [value]="coordinator.name">{{ coordinator.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Day</mat-label>
        
        <mat-select formControlName="day" >
            <!-- <mat-option>
                <ngx-mat-select-search formControlName="dayFilter"></ngx-mat-select-search>
              </mat-option> -->
          <mat-option *ngFor="let day of days" [value]="day">{{ day}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Session Start</mat-label>
        <input matInput [ngxMatTimepicker]="pickert" formControlName="sessionStart">  
        <ngx-mat-timepicker-toggle matIconSuffix [for]=pickert></ngx-mat-timepicker-toggle> 
        <ngx-mat-timepicker #pickert></ngx-mat-timepicker> 
        <mat-error *ngIf="scheduleForm.controls['sessionStart'].touched && scheduleForm.controls['sessionStart'].invalid">Invalid Time</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Session End</mat-label>
        <input matInput [ngxMatTimepicker]="pickert2" formControlName="sessionEnd"> 
        <ngx-mat-timepicker-toggle matIconSuffix [for]=pickert2></ngx-mat-timepicker-toggle> 
        <ngx-mat-timepicker #pickert2></ngx-mat-timepicker> 
        <mat-error *ngIf="scheduleForm.controls['sessionEnd'].touched && scheduleForm.controls['sessionEnd'].invalid">Invalid Time</mat-error>
      </mat-form-field>
      
  </form>
</mat-dialog-content>  
<div mat-dialog-actions [align]="'end'">
    <button mat-stroked-button color="warn" cdkFocusInitial (click)="closeDialog()">Close</button>
    <button *ngIf="type==='add'"  mat-raised-button color="primary" cdkFocusInitial [disabled]="!scheduleForm.valid">Save</button>
</div>  