.ag-body-viewport {
    position: relative;
     overflow: auto !important;
  }

  .grid-wrapper{
    flex: 1 1 auto;
  }

  mat-form-field{
    margin-left: 3%;
  }

  // mat-option {
  //   border-bottom: solid 1px grey;
  // }

  // .wrapper {
  //   display: flex;
  //   align-items: baseline;
  //   justify-content: space-between;
  //   flex-wrap: wrap;
  // }

  ///////////////
  /// 
  /// 
  @media screen and (min-width:700px) {
    .schedule {
      display: grid;
      grid-gap: 10px;
      grid-template-rows:
        [tracks] auto
        // [time-0800] 1fr
        // [time-0830] 1fr
        [time-0900] 0.5fr
        [time-0930] 0.5fr
        [time-1000] 0.5fr
        [time-1030] 0.5fr
        [time-1100] 0.5fr
        [time-1130] 0.5fr
        [time-1200] 0.5fr
        [time-1230] 0.5fr
        [time-0100] 0.5fr
        [time-0130] 0.5fr
        [time-0200] 0.5fr
        [time-0230] 0.5fr
        [time-0300] 0.5fr
        [time-0330] 0.5fr
        [time-0400] 0.5fr
        [time-0430] 0.5fr
        [time-0500] 0.5fr
        [time-0530] 0.5fr
        [time-0600] 0.5fr;
        
        /* Note 1:
        Use 24hr time for gridline names for simplicity
  
        Note 2: Use "auto" instead of "0.5fr" for a more compact schedule where height of a slot is not proportional to the session length. Implementing a "compact" shortcode attribute might make sense for this!
        Try 0.5fr for more compact equal rows. I don't quite understand how that works :)
        */
      
      grid-template-columns:
        [times] 4em
        [Monday-start] 1fr
        [Monday-end Tuesday-start] 1fr
        [Tuesday-end Wednesday-start] 1fr
        [Wednesday-end Thursday-start] 1fr
        [Thursday-end Friday-start] 1fr
        [Friday-end];
    }
  }
  
  .time-slot {
    grid-column: times;
  }
  
  .track-slot {
    display: none; /* hidden on small screens and browsers without grid support */
    
  }
  
  @supports( display:grid ) {
    @media screen and (min-width:700px) {
      .track-slot {
        display: block;
        padding: 10px 5px 5px;
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: rgba(255,255,255,.9);
        // border: 1px solid grey;
      }
    }
  }
  
  /* Small-screen & fallback styles */
  .session {
    margin-bottom:  1em;
  }
  
  @supports( display:grid ) {
    @media screen and (min-width: 700px) {
      .session {
        margin: 0;
      } 
    }
  }

  /*************************
 * VISUAL STYLES
 * Design-y stuff ot particularly important to the demo
 *************************/
body {
  padding: 50px;
  max-width: 1100px;
  margin: 0 auto;
  line-height: 1.5;
}

.session {
  padding: .5em;
  border-radius: 2px;
  font-size: 14px;
  box-shadow:
    rgba(255,255,255,.6) 1px 1px 0,
    rgba(0,0,0,.3) 4px 4px 0;
}

.session-title,
.session-time,
.session-track,
.session-presenter,
.session-batch {
  display: block;
}

.session-title,
.time-slot {
  margin: 0;
  font-size: 1em;
}

.session-title a {
  color: #fff;
  text-decoration-style: dotted;
  
  &:hover {
    font-style: italic;
  }
  
  &:focus {
    outline: 2px dotted rgba(255,255,255,.8);
  }
}

.track-slot,
.time-slot {
  font-weight: bold;
  font-size:.75em;
}

.track-1 {
  background-color: #1259B2;
  color: #fff;
}


.track-2 {
  background-color: #687f00;
  color: #fff;
}

.track-3 {
  background-color: #544D69;
  color: #fff;
}

.track-4 {
  background-color: #c35500;
  color: #fff;
}

.track-5,
.track-0 {
  background-color: #0b90b2;
  color: #fff;
}

.track-all {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ccc;
  color: #000;
  box-shadow: none;
}

.text {
  max-width: 750px;
  font-size: 18px;
  margin: 0 auto 50px;
}

.meta {
  color: #555;
  font-style: italic;
}

.meta a {
  color: #555;
}

hr {
  margin: 40px 0;
}