::ng-deep{
    a {
    color: black !important;
    text-decoration: none;
  }
}

  .home-page-tabs {
    padding: 20px 5px;
    background-color: #fff;
    border: 1px solid #bfbfbf;
    box-shadow: -1px 3px 3px -3px rgb(0 0 0 / 35%);
    // z-index: -1;
  }

  .mat-tab-body{
    height: 100px !important;
    overflow: auto !important;
  }